<div *ngIf="beforeUpload" class="flex flex-col justify-center items-center mt-20">
    <div class="text-2xl text-green-500 my-10 font-bold">Upload file</div>
    <div>
        <label for="uploadfile"><a
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 cursor-pointer md:py-4 md:text-lg md:px-10">
                Click to upload</a></label>
        <input class="hidden" type="file" id="uploadfile" name="uploadfile" (change)="uploaded($event)">
    </div>
</div>

<div *ngIf="onUpload" class="flex flex-col justify-center items-center mt-20">
    <div class="mb-20">
        <div class="mb-10">
            File choosed: {{nameFile}}
        </div>
        <div>
            <button>Click to change file</button>
            <input class="hidden" type="file" id="uploadfile" name="uploadfile" (change)="uploaded($event)">
        </div>
    </div>
    <div class="flex">
        <button (click)="start()"
            class="w-60 h-12 rounded bg-green-500 hover:bg-green-700 text-xl text-white outline-none focus:outline-none">Start</button>
    </div>
</div>

<div *ngIf="afterUpload" class="h-auto p-5 border-gray-600 border-2 mt-5 ml-5 mr-5">
    <div class="relative">
        <a href="" download="" class="absolute right-0 text-blue-600 italic underline">Download</a>
        <p>Download file o day. Thich thi down khong thich thi down</p>
    </div>
</div>

<div *ngIf="afterUpload" class="w-full p-10">
    <div class="text-2xl py-6">Files detail</div>
    <table class="w-full">
        <thead>
            <tr class="border-b border-gray-400 bg-green-200">
                <th class="text-left p-2">#</th>
                <th colspan="3" class="text-left p-2">Name</th>
                <th class="text-left p-2">Type</th>
                <th class="text-left p-2">Size(kb)</th>
                <th colspan="1" class="text-left p-2">File Content</th>
            </tr>
        </thead>
        <tbody>
            <tr class="cursor-pointer border-gray-400 border-b hover:text-white hover:bg-gray-600" *ngFor="let file of files; let i = index">
                <td class="w-10 p-2">{{i+1}}</td>
                <td colspan="3" class="p-2">{{file.name}}</td>
                <td class="w-40 p-2">{{file.type}}</td>
                <td class="w-40 p-2">{{file.size}}</td>
                <td class="w-80 p-2">
                    <img src={{file.url}} alt="" width="200">
                </td>
            </tr>
        </tbody>
    </table>
</div>