<div class="flex w-full h-14 justify-between shadow items-center">
    <div class="ml-5"><a routerLink=""><img style="height: 42px; border-radius: 5px;" src="../../../assets/tee2.png" alt="teemo"/></a></div>
    <div class="mr-5 flex justify-between">
        <div class="w-12 ml-16 cursor-pointer relative">
            <button type="button"
                class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                id="options-menu" aria-expanded="true" aria-haspopup="true" (click)="clickUser()">
                User</button>
            <div *ngIf="onUser" class="absolute top-12 right-0 ">
                <ng-container *ngTemplateOutlet="user"></ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #user id="options-menu-list">
    <!-- <div class="w-14 border-b-2 border-gray-400" (click)="logout()">
        Logout
    </div> -->
    <div class="w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <div class="py-1" role="none">
            <a routerLink="/user-infor" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                role="menuitem">Account settings</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                role="menuitem">Support</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                role="menuitem">License</a>
            <form method="POST" action="#" role="none">
                <button type="submit"
                    class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                    role="menuitem" (click)="logout()">
                    Sign out
                </button>
            </form>
        </div>
    </div>
</ng-template>